ENV=dev

## CLI GENERAL
CLI_NAME=go-concurrent-importer
CLI_TAG_VERSION=0.0.5
CLI_NUM_WORKERS=10
CLI_BATCH_SIZE=1000

## DATABASE CONN
DATABASE_DRIVER=postgres
DATABASE_HOST=localhost              ### localhost: localhost | conteinerized: postgres
DATABASE_USER=api_user
DATABASE_PASS=api_pass
DATABASE_DB=importer_db
DATABASE_PORT=5432
DATABASE_SSLMODE=disable